body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3c355c;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #63365c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(98, 82, 94, 0.1);
    width: 400px;
}

h1 {
    margin-bottom: 20px;
}

#question-container {
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #0c0b6a;
    color: #1f7688;
}

#next-btn, #result-container {
    display: none;
}
